---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Layout />
    <Navbar />
    <main>

</div>
<Footer />
</main>

<style>
    	html {
		background-image: url("../assets/bg-themes/leafbg.webp");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	main {
		max-width: 2000px;
		margin: auto;
		padding: 0rem 1rem 0rem 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>