---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Sweet from '../components/Sweet.astro';
---


<Layout title="Welcome to Astro.">
    <Navbar />
	<main>
        <Sweet />
        </main>
    </Layout>