<div class="counters">
    <div class="counter">
        <h2>123</h2>
        <p>Coffees Identified</p>
    </div>
    <div class="counter">
        <h2>234</h2>
        <p>Members</p>
    </div>
    <div class="counter">
        <h2>345</h2>
        <p>Coffees Searched</p>
    </div>
</div>

<style>
    .counters {
        margin-top: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        line-height: 0.2;
    }

    .counter {
        text-align: center;
        margin: 0 3rem;
    }

    h2 {
        color: rgb(66, 183, 124);
        font-size: 7rem;
        text-stroke: 1px rgb(0, 0, 0, 0.8);
        -webkit-text-stroke: 1px rgb(0, 0, 0, 1);
    }

    p {
        font-size: 3rem;
        line-height: 1;
    }
</style>
