---
import logoImage from "../assets/logo/logo-96x96.webp";
---
<div class="footer">
    <a href="/" class="logo-container"><img src={logoImage.src} id="logo-image" width="80px" height="80px" alt="a magnifying glass looking at the planet" />World Coffee Information</a>
    <ul>
        <p class="footer-title">Placeholder1</p>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <ul>
        <p class="footer-title">Placeholder2</p>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <ul>
        <p class="footer-title">Placeholder3</p>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <ul>
        <p class="footer-title">Placeholder4</p>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</div>

<style>
.footer {
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255, 0.18);
    padding-top: 1rem;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

ul {
    list-style: none;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

a:hover {
    color: rgb(66,183,124);
}

a {
    text-decoration: none;
    color: white;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 2rem;
    }
}
</style>
